.cabecalho,
.conteudo-perfil {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--color-red);
  z-index: 999;
  top: 0;
}

.cabecalho {
  padding: 2rem;
}

.logo {
  width: 10%;
}

.white {
  font-weight: normal;
  color: var(--color-white);
}

.nome-associacao {
  font-size: 2.4rem;
}

.conteudo-perfil {
  width: 20%;
}

.nome-diretor {
  font-size: 1.4rem;
}

.img-perfil {
  width: 25%;
  border-radius: 50%;
  margin: 2rem;
}

.img-seta-baixo {
  width: 20px;
}
