:root {
  --color-white: #ffffff;
  --color-red: #e02041;
  --color-black: #252733;
  --color-dark-gray: #221d25;
  --color-hover-menu: #18141a;
  --color-gray: #f0f0f5;
  --color-light-gray: #9fa2b4;
  --color-light-gray-menu: #737074;
  --color-body: #e5e5e5;
  --color-divider: #dfe0eb;
  --color-green-button: #42e084;
}
